COMPILER_LOCAL_SOURCE_PATH=./fixtures/basil
COMPILER_LOCAL_TARGET_PATH=../../tests/build/target
COMPILER_SOURCE_PATH=/app/source
COMPILER_TARGET_PATH=/app/target
COMPILER_EXPOSED_PORT=9500

NGINX_HTML_SOURCE_PATH=./fixtures/html

CHROME_RUNNER_EXPOSED_PORT=9501
FIREFOX_RUNNER_EXPOSED_PORT=9502
