language: php
php:
- '7.4'

addons:
  chrome: stable

install:
  - composer install --prefer-dist
  - composer chromedriver-update

before_script:
  - ./build/build.sh

script:
- composer ci
- composer test-integration
- ./build/test_image_exists.sh
- ./build/test.sh

cache:
  directories:
  - "$HOME/.composer/cache/files"

deploy:
  - provider: script
    script: ./deploy/docker_hub_push.sh
    on:
      tags: true
    skip_cleanup: 'true'

  - provider: script
    script: ./deploy/docker_hub_push.sh
    on:
      branch: "master"
    skip_cleanup: 'true'