language: php
php:
  - '7.4'

env:
  - DOCKER_BUILDKIT=1

before_install:
#  - set -e
#  - echo '{"experimental":true}' | sudo tee /etc/docker/daemon.json
#  - export DOCKER_CLI_EXPERIMENTAL=enabled
  - docker run --rm --privileged docker/binfmt:a7996909642ee92942dcd6cff44b9b95f08dad64
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce
  - docker info

install:
  - composer install --prefer-dist

script:
  - docker --version
  - sudo cat /etc/docker/daemon.json
  - composer ci
  - ./build/ci.sh

cache:
  directories:
  - "$HOME/.composer/cache/files"

deploy:
  - provider: script
    script: ./deploy/docker_hub_push.sh
    on:
      tags: true
    skip_cleanup: 'true'

  - provider: script
    script: ./deploy/docker_hub_push.sh
    on:
      branch: "master"
    skip_cleanup: 'true'