name: Build Docker Image

on:
  push:
    branches:
      - master
  pull_request:
  release:
    types:
      - published

jobs:
  build:
    name: Build Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set image tag name
        id: image_tag_name
        env:
          RELEASE_TAG_NAME: ${{ github.event.release.tag_name }}
        run: |
          [[ ! -z "$RELEASE_TAG_NAME" ]] && echo "::set-output name=value::$RELEASE_TAG_NAME" || echo "::set-output name=value::master"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

#      - name: Login to Docker Hub
#        uses: docker/login-action@v1
#        with:
#          username: ${{ secrets.DOCKERHUB_USERNAME }}
#          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build browser-specific Dockerfiles
        run: |
          cd docker
          BROWSER=chrome ./build-dockerfile.sh
          BROWSER=firefox ./build-dockerfile.sh
          cat chrome.Dockerfile
          cat firefox.Dockerfile

      - name: Build and push chrome image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: docker/chrome.Dockerfile
          push: false
          tags: smartassert/chrome-runner:${{ steps.image_tag_name.outputs.value }}
#          build-args: |
#            browser=chrome

#      - name: Build and push firefox image
#        uses: docker/build-push-action@v2
#        with:
#          push: true
#          tags: smartassert/firefox-runner:${{ steps.image_tag_name.outputs.value }}
#          build-args: |
#            browser=firefox
